@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    padding: 0;
    margin: 0;
}

/* Ajuste do Logo */
#logo {
    min-width: 10% !important; 
    min-height: 10% !important;
}

/* Tipografia e Cores */
body {
    background-color: #f8f9fa;
    font-size: 60% !important;
}

header {
    background-color: #ffffff;
}

body div h1 {
    font-size: 2.5em !important;
    font-family: 'Oswald' !important;

}

/* Rodapé mais elegante */
footer {
    padding: 2rem 0;
    background-color: #212529;
    color: white;
    text-align: center;
    margin-top: 3rem;
}

footer h5 {
    font-size: 0.9rem;
    font-weight: 300;
}

@media only screen and (min-width: 768px){
    body div h1{
        font-size: 3.5em !important;
        font-family: 'Oswald' !important;
    }
    #logo{
        height: auto !important;
        max-width: 20% !important;
    }
}